.wrapper {
  height: 60px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 16, 85, 0.922);

  a {
    color: #fff;
    text-decoration: none;
  }

  &_logo {
    color: red;
    font-size: 20px;
    height: 48px;
  }

  &_title {
    color: #fff;
  }

  &_nav {
    & > ul {
      list-style: none;
      display: flex;
      gap: 18px;
    }
  }

  .name {
    color: #fff;
  }
}
