.header {
  height: 60px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(81, 81, 126, 0.342);

  &_logo {
    color: red;
    font-size: 20px;
  }

  &_title {
    color: chocolate;
  }
}
