.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  .input_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .error {
    color: red;
    font-size: 25px;
  }
}
