.page_wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px auto 60px;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
