.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .btn_group {
    display: flex;
    gap: 20px;
  }
}
